/* Сбросы и базовые стили */
body {
margin: 0;
font-family: Arial, sans-serif;
}

p, li {
margin: 5px 0;
}

header {
background-color: #1E90FF;
padding: 20px;
margin-bottom: 20px;
color: white;
}

.logo {
font-weight: bold;
}

footer {
margin-top: 40px;
background-color: #1E90FF;
padding: 15px;
font-weight: bold;
color: white;
}

/* Навигация — Mobile First */
.nav {
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column; /* вертикально на мобилках */
}

.nav li {
margin: 8px 0;
}

.nav a {
color: white;
font-weight: bold;
text-decoration: none;
}
/*.tab a {
color: blue;*/
/* Основной блок */
.main {
display: flex;
flex-direction: column; /* на мобилках — столбец */
gap: 15px;
padding: 10px;
}

.table-container {
order: 1; /* таблица выше списка */
}
.links {
order: 2;
}
.form {
order: 3;
}

table {
border-collapse: collapse;
width: 100%;
}
td, th {
border: 1px solid #000;
padding: 10px;
}
.blue-cell {
    background-color: #ADD8E6;
}
/*Media Queries*/

/* Планшеты и ПК */
@media (min-width: 768px) {
.nav {
display: flex;
flex-direction: row; /* горизонтально */
justify-content: flex-end;
gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main {
flex-direction: row; /* три колонки */
justify-content: space-between;
}

.table-container, .links, .form {
flex: 1;
margin: 10px;
}
}
